<template name="selectLicenseForm">
    <div class="modal fade" id="selectLicenseModal" tabindex="-1" role="dialog"
         aria-labelledby="selectLicenseModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fa fa-cc"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="selectLicenseModalTitle" class="modal-title">{{_ "sidebar-nav.license"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label id="modulesLabel" class="col-xs-12 control-label"
                                   for="newSetDescription">{{_ "modal-dialog.modules"}}</label>
                            <div class="controls col-xs-12">
                                <div id="cc-modules" class="btn-group" data-toggle="buttons">
                                                    <span class="col-xs-3 btn-bootstrap-container">
                                    <label id="cc-option0"
                                           class="btn btn-block btn-success {{#if licenseIsActive 'by'}}active{{/if}}">
                                        <input type="checkbox" autocomplete="off" value="by" id="cc-by">
                                        <span class="flex-content"><img src="/img/by.large.png" alt="Namensnennung"/></span>
                                    </label>
                                                    </span>
                                    <span class="col-xs-3 btn-bootstrap-container">
                                    <label id="cc-option1"
                                           class="btn btn-block btn-success {{#if licenseIsActive 'nc'}}active{{/if}}">
                                        <input type="checkbox" autocomplete="off" value="nc" id="cc-nc">
                                        <span class="flex-content"><img src="/img/nc-eu.large.png" alt="Nicht kommerziell"/></span>
                                    </label>
                                          </span> <span class="col-xs-3 btn-bootstrap-container">
                                    <label id="cc-option2"
                                           class="btn btn-block btn-success {{#if licenseIsActive 'nd'}}active{{/if}}">
                                        <input type="checkbox" autocomplete="off" value="nd" id="cc-nd">
                                        <span class="flex-content"><img src="/img/nd.large.png" alt="Keine Bearbeitung"/></span>
                                    </label>
                                         </span> <span class="col-xs-3 btn-bootstrap-container">
                                    <label id="cc-option3"
                                           class="btn btn-block btn-success {{#if licenseIsActive 'sa'}}active{{/if}}">
                                        <input type="checkbox" autocomplete="off" value="sa" id="cc-sa">
                                        <span class="flex-content"><img src="/img/sa.large.png" alt="Weitergabe unter gleichen Bedingungen"/></span>
                                    </label>
                                    </span>
                                </div>
                                <span id="helpCC-modules" class="help-block cc-modules"></span>
                            </div>

                            <div id=cc-description class="col-xs-12">
                                <hr>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="/img/by.large.png" alt="Namensnennung"/>
                                    </div>
                                    <div class="col-xs-10"><p>{{_ "modal-dialog.by-desc"}}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="/img/nc-eu.large.png" alt="Nicht kommerziell"/>
                                    </div>
                                    <div class="col-xs-10"><p>{{_ "modal-dialog.nc-desc"}}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="/img/nd.large.png" alt="Keine Bearbeitung"/>
                                    </div>
                                    <div class="col-xs-10"><p>{{_ "modal-dialog.nd-desc"}}</p></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="/img/sa.large.png" alt="Weitergabe unter gleichen Bedingungen"/>
                                    </div>
                                    <div class="col-xs-10"><p>{{_ "modal-dialog.sa-desc"}}</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="licenseSave" class="btn btn-success btn-raised btn-block pull-success pull-right">{{_
                            "modal-dialog.saveLicense"}}</button>
                    <button id="licenseCancel" class="btn btn-default btn-raised pull-left"
                            data-dismiss="modal">{{_ "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
