<template name="cardsetInfoBoxItemCardCount">
    <tr>
        <td>{{_ "cardset.info.quantity"}}:</td>
        <td class="cardsetCardCount" data-count="{{this.quantity}}">{{this.quantity}}</td>
    </tr>
</template>
