<template name="cardEditorItemButtonSave">
    {{#unless isTranscriptRoute}}
        <button id="cardSave"
                class="btn btn-success btn-raised saveFirst col-xs-12 col-sm-4" {{disableIfOffline}}
                tabindex="13"><i class="fa fa-floppy-o"></i> <i class="fa fa-plus"></i> {{_ "savecard"}}
        </button>
    {{/unless}}
</template>
