<template name="mainNavigationFooterItemBackToHome">
    {{#unless canAccessFrontend}}
        <li class="inactive">
            <a id="backToStartButton" href="#">
                {{{getNavigationName "backToHome"}}}
            </a>
        </li>
    {{/unless}}
</template>
