<template name="impressumModalStatisticsItemWordcloud">
    <table class="table">
        <thead>
            <tr class="active">
                <th scope="col" class="col-xs-9 col-sm11">
                    <span class="hidden-xs">{{_ "serverStatistics.modal.table.header.wordcloud.default"}}</span>
                    <span class="visible-xs">{{_ "serverStatistics.modal.table.header.wordcloud.mobile"}}</span>
                </th>
                <th scope="col" class="col-xs-3 col-sm-1">{{getServerInventory "wordcloud"}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{{_ "serverStatistics.modal.wordcloud.private" label=(getKind "personal")}}}</td>
                <td>{{getServerInventory "wordcloudPrivate"}}</td>
            </tr>
            <tr>
                <td>{{{_ "serverStatistics.modal.wordcloud.free" label=(getKind "free")}}}</td>
                <td>{{getServerInventory "wordcloudFree"}}</td>
            </tr>
            <tr>
                <td>{{{_ "serverStatistics.modal.wordcloud.edu" label=(getKind "edu")}}}</td>
                <td>{{getServerInventory "wordcloudEdu"}}</td>
            </tr>
            {{#if isProLoginActive}}
                <tr>
                    <td>{{{_ "serverStatistics.modal.wordcloud.pro" label=(getKind "pro")}}}</td>
                    <td>{{getServerInventory "wordcloudPro"}}</td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</template>
